*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
#navbar{
    width:100%;
    max-width: 1600px;
    hight:92px;
    max-hight:auto
    margin:0 auto;
    display:flex;
    gap: 210px;
    align-items: center;
    padding: 16px 120px 16px 120px;
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    align-items: center;
    
    
}
    nav .menu a{
        list-style-type: none;
        text-decoration: none;
        color: #000000;
        text-align: center;
    }
.logo{
    width: 150px;
    height: 50px;
}
.btn{
    background-color:#469165 ;
    width: 180px;
    height: auto;
    text-align: center;
    border: none;
    color: white;
    padding:12px 16px 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover{
    background-color: #2b6e43;
    cursor: pointer;
}