*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* background-color: #000000; */
}
#navbar{
    width:100%;
    max-width: 1600px;
    height:90px;
    margin:0 auto;
    display:flex;
    gap: 210px;
    align-items: center;
    padding: 16px 120px 16px 120px;
    justify-content: center;

}
nav .menu{
    display:flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    align-items: center;
    
    
}
    nav .menu a{
        list-style-type: none;
        text-decoration: none;
        color: #000000;
        text-align: center;
    }
.logo{
    width: 150px;
    height: 50px;
}
.btn{
    background-color:#469165 ;
    width: 180px;
    height: auto;
    text-align: center;
    border: none;
    color: white;
    padding:12px 16px 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover{
    background-color: #2b6e43;
    cursor: pointer;
}
.img{
    position:absolute;
}

.bg{
    background-image: url('assets/hero-bg.png');
    width:100%;
    height: 700px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 120px 134px 120px 134px;
    align-items: center;
    }
.text-block{
    font-size: 16px;
    color:#276941;
    padding:8px 12px 8px 12px;
    width:250px;
    background-color:white;
    border-radius:100px;
    justify-content: center;
    align-items: center;
    display: flex;
     flex-direction: column;
}
.text-block2{
    font-size: 72px;
    color:#ffffff;
    display: flex;
     flex-direction: column;
     width: 110%;
     padding-top:20px; ;
}
.text-block3{font-size: 72px;
    color:#30B868;
    display: flex;
    flex-direction: column;
}
.text-block4{
    font-size: 18px;
    color:#ffffff;
    display: flex;
     flex-direction: column;
     width: 700px;
     text-align: center;
     padding-top:16px;
}
.btn2{background-color:#469165 ;
    width: 240px;
    height: auto;
    text-align: center;
    border: none;
    color: white;
    padding:12px 16px 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-top:32px;
}
.btn2:hover{
    background-color: #2b6e43;
    cursor: pointer;
}
.btn3{
    background-color:transparent;
    width: 210px;
    height: auto;
    text-align: center;
    border: solid 1px #ffffff;
    color: rgb(255, 255, 255);
    padding:12px 16px 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-top:32px;
    margin-left:16px;
    display:flex;
    gap:10px;
}
.btn3:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.buttons{
    display:flex;
}
.tag2{
    font-size:45px;
    font-weight:bold;
    text-align: center;
    margin-top:25px;
    margin-right: 120px;
    margin-left: 120px;
    color: #001931;
}

.tag3{
    font-size:16px;
    text-align: center;
    margin-top:16px;
    margin-bottom: 44px;
    margin-right: 120px;
    margin-left: 120px;
    color: #627382;

}
#card-box{
    display:flex;
    gap:24px;
    justify-content: center;
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 120px;
    text-align: center;
  
}
.card{
    padding:2px;
    border-radius:8px;
    background-color: rgb(243, 245, 245);
    
}
.card img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: #F95555;
    object-fit: cover;
    padding: 5px;
    margin-top: 16px;
}
.card h4{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 16px;
    color: #001931;
}
.card .text9{
    margin-top:2px;
    margin-bottom:5px;
}
.card p{
    font-size: 16px;
    text-align: center;
}
.tag4{
    display:flex;
    margin-left: 120px;
}
.tagmaking{
    margin-top: 115px;
    margin-left:60px;
    justify-content: center;
    align-items: center;
}
.tag5{
    font-size: 16px;
    margin-bottom: 16px;
    color:#469165
}
.tag6{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.tag11{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
.tag12{
    display: flex;
    gap:5px;
    margin-bottom: 16px;
}
.ready{
    margin-top: 110px;
    text-align: center;
}
.ready h6{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    word-spacing: 2px;
}
.ready p{
    font-size: 18px;
    color: #627382;
    margin-bottom: 24px;
}
.btn4{background-color:#469165 ;
    width: 190px;
    height: auto;
    text-align: center;
    border: none;
    color: white;
    padding:12px 16px 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-top:2px; 
}
.btn4:hover{
    background-color: #2b6e43;
    cursor: pointer;
}
.ready p{
    margin-top:16px;
}
.footer-content{
    margin-top: 200px;
    background-color: #001931;
    width: 100%;
    height: 348px;
    
}
.footer-logo{
    width: 150px;
    height: 50px;
    padding-top: 135px;
    padding-left: 120px;
     
}
.footer-tagline{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left:1070px ;
    padding-top: 12px;
    padding-right: 120px;
}
.footer-links{
    display: flex;
    flex-direction: vertical;
    gap: 16px;
    padding-left:1070px ;
    padding-top: 12px;
    padding-right: 110px;
}
.footer-copy{
    color: white;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 30px;
    
}